html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, del, dfn, font, img, ins, kbd, q, s, samp, strike, tt, var, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {
    font-weight: normal;
    font-family: Helvetica;
}

body {
    background-color: #FFF;
}

.bibtexnumber, .bibtexitem{
    font-size:1em;
    font-family: Arial,"Lucida Grande","Lucida Sans",Verdana,Helvetica,sans-serif;
    line-height:1.231em;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #4d4d4d;
    vertical-align: top;
    text-align: justify;
}


/*tag cloud */
.tclink {
    font-family: Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Helvetica, sans-serif; 
    font-size: 13px; 
    line-height: 1em; 
    font-weight: bold; 
    color: #0063aa; 
    text-decoration: none;
}

.tctext {
    font-family: Arial, 'Lucida Grande', 'Lucida Sans', Verdana, Helvetica, sans-serif; 
    font-size: 13px; 
    line-height: 1em; 
    font-weight: normal; 
    color: #4d4d4d;
    text-decoration: none;
}

h1 {
    font-family: Arial,Helvetica,Verdana,sans-serif;
    padding-bottom: 20px;
    /*font-size: 1.692em;*/
    font-size: 1.3em;
    line-height: 1em;
    max-width: 736px;
    font-weight: bold;
}

a.abstract-a {
    text-decoration:underline;
    cursor: pointer; 
    /*cursor: hand;*/
    color: #00f;
}

.bibtexnumber a{
    color:#000;
}

.bibtexnumber a:hover{
    color:#00F;
}


pre {
    font-size:0.8em;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}


.table>thead>tr>td.hiddenrow, 
.table>tbody>tr>td.hiddenrow, 
.table>tfoot>tr>td.hiddenrow, 
.table>thead>tr>th.hiddenrow, 
.table>tbody>tr>th.hiddenrow, 
.table>tfoot>tr>th.hiddenrow, 
.table>thead>tr.hiddenrow>td, 
.table>tbody>tr.hiddenrow>td, 
.table>tfoot>tr.hiddenrow>td, 
.table>thead>tr.hiddenrow>th, 
.table>tbody>tr.hiddenrow>th, 
.table>tfoot>tr.hiddenrow>th {
    background-color: #BBB;
}